@import '../../../styles/color';
.movie-item {
    display: block;
    position: relative;
    border-radius: 5px;
    min-height: 350px;
    background-color: $bgColorLight;
    border: 1px solid $lightGray;
    transition: all .5s;
    overflow: hidden;

    &-image{
        img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 300px;
            object-fit: cover;
            transition: all .9s;
        }
    }

    &-rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: $bgColorLight;
        border-radius: 5px;
        padding: 5px 10px;

        .app-icon {
            color: #d4af37;
            margin-right: 5px;
        }
    }

    &-title {
        display: flex;
        height: 30px;
        align-items: center;
        margin: 0.5rem;
        justify-content: center;
        font-weight: 500;
    }

    &:hover {
        -webkit-box-shadow: 2px 0 9px 6px rgba(213, 221, 37, 1);
        -moz-box-shadow: 2px 0 9px 6px rgba(213, 221, 37, 1);
        box-shadow: 2px 0 9px 6px $yellowGolden;
    }
}