@import '../../../styles/color';
.movie-item {
    display: block;
    position: relative;
    border-radius: 5px;
    min-height: 350px;
    background-color: $bgColorLight;
    border: 1px solid $lightGray;

    &-image{
        img {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 300px;
            object-fit: cover;
        }
    }

    &-rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: $bgColorLight;
        border-radius: 5px;
        padding: 5px 10px;

        .app-icon {
            color: #d4af37;
            margin-right: 5px;
        }
    }

    &-title {
        display: flex;
        height: 30px;
        align-items: center;
        font-weight: bold;
        margin: 0.5rem;
    }
}