
@import '../../../styles/color';

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    padding: 0.5rem 1rem;
    background-color: $bgColorLight;
    margin: 0;
}